<mat-card>
	<mat-card-title>
		<div class = 'title-container'>
			<p>{{user_data.firstname}} {{user_data.lastname}}</p>
			<button mat-raised-button color="primary" (click)="onSubmitButtonClick()">Submit Registration Data Changes</button>
			<div>
					<mat-slide-toggle name="editToggle" style="margin-left: 5px;" color="accent" (change)="onChange($event)" [disabled]="editToggleDisable">Edit</mat-slide-toggle>
					<button mat-icon-button color="primary" (click)="onResetHackerDataClick()" style="margin-left: 5px;"><mat-icon aria-label="Refresh button with refresh icon">refresh</mat-icon></button>
			</div>
		</div>
	</mat-card-title>
	<mat-card-content>
        <ng-container *ngIf="editToggleState; else noedit"></ng-container>
        <!-- Edit Toggle Enabled -->
        <ng-template #editToggleState>
            <table>
                <tr>
                    <th>User Property</th>
                    <th>User Response</th>
                </tr>
                <tr>
                    <td>First Name</td>
                    <mat-form-field color="accent" appearance="outline">
                            <input matInput [(ngModel)]="hacker.firstname" placeholder={{user_data.firstname}}>
                    </mat-form-field>
                </tr>
            </table>

        </ng-template>
        <!-- Edit Toggle Disabled -->
        <ng-template #noedit>
            <table>
                <tr>
                    <th>User Property</th>
                    <th>User Response</th>
                </tr>
                <tr>
                    <td>First Name</td>
                    <ng-template [ngIf]="user_data.firstname" [ngIfElse]="NA">
                        <div>
                            {{user_data.firstname}}
                        </div>
                    </ng-template>
                    <ng-template #NA>
                        <div>
                            N/A
                        </div>
                    </ng-template>
                </tr>
            <tr>
	</mat-card-content>
</mat-card>